<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>centraleAchats</display-name>
  <welcome-file-list>
    <welcome-file>
   index.jsp
</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Create Product</servlet-name>
    <jsp-file>/WEB-INF/views/createProduct.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Create Product</servlet-name>
    <url-pattern>/createProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccueilAdm</servlet-name>
    <jsp-file>/WEB-INF/views/AccueilAdm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilAdm</servlet-name>
    <url-pattern>/AccueilAdm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccueilInt</servlet-name>
    <jsp-file>/WEB-INF/views/AccueilInt.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilInt</servlet-name>
    <url-pattern>/AccueilInt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Catalogue</servlet-name>
    <jsp-file>/WEB-INF/views/catalogue.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Catalogue</servlet-name>
    <url-pattern>/catalogue</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panier</servlet-name>
    <jsp-file>/WEB-INF/views/panier.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panier</servlet-name>
    <url-pattern>/panier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update Product</servlet-name>
    <jsp-file>/WEB-INF/views/updateProduct.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update Product</servlet-name>
    <url-pattern>/updateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deleted Product</servlet-name>
    <jsp-file>/WEB-INF/views/deleteProduct.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleted Product</servlet-name>
    <url-pattern>/deleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>details</servlet-name>
    <jsp-file>/WEB-INF/views/details.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>details</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Header</servlet-name>
    <jsp-file>/WEB-INF/header.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Header</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Footer</servlet-name>
    <jsp-file>/WEB-INF/footer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Footer</servlet-name>
    <url-pattern>/footer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateProductServlet</servlet-name>
    <servlet-class>controleur.createProductservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProductServlet</servlet-name>
    <url-pattern>/CreateProductServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>validerPanier</servlet-name>
    <servlet-class>controleur.ValiderPanierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validerPanier</servlet-name>
    <url-pattern>/ValiderPanierServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>PanierServlet</servlet-name>
    <servlet-class>controleur.panierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanierServlet</servlet-name>
    <url-pattern>/panierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteProductservlet</servlet-name>
    <servlet-class>controleur.deleteProductservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProductservlet</servlet-name>
    <url-pattern>/deleteProductservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>controleur.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CatalogueServlet</servlet-name>
    <servlet-class>controleur.catalogueservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogueServlet</servlet-name>
    <url-pattern>/catalogueservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConnectionServlet</servlet-name>
    <servlet-class>controleur.ConnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionServlet</servlet-name>
    <url-pattern>/ConnectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Details</servlet-name>
    <servlet-class>controleur.detailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Details</servlet-name>
    <url-pattern>/detailsServlet</url-pattern>
  </servlet-mapping>
</web-app>